<div class="feed_card">
  <div class="card_info">
  <div class="card_author_image">
    <img
      src="https://media.istockphoto.com/id/1300845620/vector/user-icon-flat-isolated-on-white-background-user-symbol-vector-illustration.jpg?s=612x612&w=0&k=20&c=yBeyba0hUkh14_jgv1OKqIH0CCSWU_4ckRkAoy2p73o="
      alt="">
  </div>
    <div class="post_info">
      <div class="post_author_info">
        <span class="author_info_name">{{post.author.name}}</span>
        <span class="author_info_user">@{{post.author.username}}</span>
      </div>
      <div class="post_text">
        <p>{{post.title}}</p>
      </div>
    </div>
  </div>
  <div class="card_content">

    <div class="content_image"></div>
  </div>
</div>
