<div mat-dialog-content class="credentials">
    <form class="" [formGroup]="form" class="table-responsive angular-bootstrap-table">
        <div class="form-group credentials">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" name="email" class="form-control" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" name="password" class="form-control" />
            </mat-form-field>
        </div>
    </form>
    <button class="btn btn-secondary"  type="button" (click)="login()">Login</button>
</div>