<div class="container-content">
    <div class="initial-page-button-container">
        <div class="initial-page-button-container-text">
            <h3 class="title">Twitter</h3>

            <p class="text-initial-page">Uma comunidade que junta tanto observadores quanto pesquisadores!</p>

            <p class="text-initial-page">Se junte a causa e nos auxilie a salvar os passaros
                eioawjdiasd
                dsanjkdnsakdnas
                sdnksandsa[]
            </p>
        </div>
        <div class="button-container">
            <button type="button" routerLink= "/login" class="btn btn-secondary">Login</button>

            <button type="button" routerLink= "/register" class="btn btn-secondary">Cadastro</button>


        </div>
    </div>
    <div class="background">
    </div>
</div>