<div class="perfil">
    <div class="publico">
        <div class="imagem-perfil">
            <img src="../../../assets/background_images/background_bird_01.svg" alt="Imagem do Usuário">
        </div>

        <div class="detalhes">
            Detalhes

            TextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTextoTexto
        </div>
    </div>

    <div class="privado">
        <div class="nome-usuario">
            
            Marto

        </div>

        <div class="informacoes">

            <p>Email: usuario@email.com</p>
            <p>Idade: 12 anos</p>

        </div>

        <div class="botoes">
            <button class="botao">Minhas Postagens</button>
            
            <button class="botao">Atividade</button>
            
            <button class="botao">Editar Informações</button>
        </div>
    </div>
</div>